<nav class="navbar navbar-light bg-light">
  <%= link_to 'E-Learning', root_path, class: 'navbar-brand' %>

  <ul class="nav justify-content-end">
    <% if signed_in? %>
      <li class="nav-link align-self-center">
        <%= current_user.email %>
      </li>
      <li class="nav-link">
        <%= button_to "Sign out", sign_out_path, method: :delete, class: "btn btn-sm btn-secondary" %>
      </li>
    <% else %>
      <li class="nav-link">
          <%= button_to "Sign In", sign_in_path, method: :get, class: "btn btn-sm btn-primary" %>
      </li>
      <li class="nav-link">
        <%= button_to "Sign Up", sign_up_path, method: :get, class: "btn btn-sm btn-success" %>
      </li>
    <% end %>
  </ul>
</nav>

<% flash.each do |key, value| %>
  <div class="alert alert-warning alert-<%= key %>">
    <%= value %>
  </div>
<% end %>
