<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <title>
        E-Learning System
        <% if content_for?(:page_title) %>
          | <%= yield :page_title %>
        <% end %>
      </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico'), rel: :icon %>

    <%= javascript_tag do %>
      I18n.locale = "<%= I18n.locale %>";
      I18n.translations = <%= raw I18n::JS.filtered_translations.to_json %>;;
    <% end %>
  </head>

  <body class="container-fluid app">
    <%= render 'layouts/navigation' %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
